//Variables

$red: #f64747;
$dark: #23262d;
$darker: #191b21;
$lightDark: #414858;
$xlightDark: #4b5365;
$black: #111111;
$xlightGrey: #f6f6f6;
$lightGrey: #eeeeee;
$softGrey: #dddddd;
$grey: #bbbbbb;
$white: #ffffff;
$offWhite: #eeeeee;
$lightPurple: #6c5ce7;
$lightBlue: #0984e3;
$green: #1dd1a1;

$mobileWidth: 650px;

$searchSectionHeight: 200px;
$searchIconSize: 30px;
$albumSize: 300px;

$animationSlideInOffset: 5%;
$animationSlideOutOffset: -5%;

$clPrimaryText: $green;
$clSecondaryText: $white;
$clTertiaryText: $grey;

$clResultsText: $lightDark;

$clPrimaryBackground: $lightDark;
$clSecondaryBackground: $offWhite;
$clTertiaryBackground: $softGrey;


